body {
    margin: 0px;
}

span.block {
    display: inline-block;
}

div.block {
    display: inline-block;
    vertical-align: text-top;
}

div.canvas {
  border: 1.5px solid #444444;
  width: 600px;
  height: 600px;
}

.nav_panel {
  border-right: 2px solid #444444;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #E0E0E0;
}

.nav_panel_tile {
  text-align: center;
  padding-bottom: 5px;
}

.info_panel {
  border-bottom: 2px solid #444444;
  border-right: 2px solid #444444;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: #E0E0E0;
}

div.log {
  width: calc(50% - 12px);
  height: calc(1220px - 80vh);
  overflow-y: scroll;
}

div.tri_info {
  width: calc(50% - 12px);
  height: calc(1220px - 80vh);
  overflow: hidden;
}

div.locate {
  width: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

button.small {
  width: 200px;
  height: 35px;
  ali
}

button.big {
  width: 200px;
  height: 45px;
}

input.small {
  width: 80px;
  height: 20px;
}
